.git
.github
.gitignore
.DS_Store
__pycache__
*.pyc
tests/
data_example/
Untitled.ipynb
short_script.py
try_openai.py
data.csv
data_to_translate.csv
*.egg-info
.pytest_cache
.mypy_cache
.venv
venv
requirements-dev.txt
